server:
  port: 8081   # Order Service runs on 8081, Inventory Service on 8080

spring:
  datasource:
    url: jdbc:h2:mem:orderdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

liquibase:
  change-log: classpath:changelog/db.changelog-master.yaml
  search-path: classpath:changelog


logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG

# Custom property for Inventory Service URL
inventory:
  service:
    url: http://localhost:8080/inventory
